public/data/bmtc_stop_times.json filter=lfs diff=lfs merge=lfs -text
src/data/bmtc/*.txt filter=lfs diff=lfs merge=lfs -text
src/data/processed/bmtc_stop_times.json filter=lfs diff=lfs merge=lfs -text
